[Desktop Entry]
Name=Moonlight Vibetamide
Comment=Stream games and other applications from another PC running Sunshine or GeForce Experience
Exec=vibetamide
Icon=vibetamide
Terminal=false
Type=Application
Categories=Qt;Game;Network;RemoteAccess;
Keywords=nvidia;gamestream;stream;sunshine;remote play;
